NVIDIA_API_KEY=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
COSMOS3_ENDPOINT=https://build.nvidia.com/nvidia/cosmos3-nano
ELEVENLABS_API_KEY=sk_91355c67c20d-dec16f0cf10721ec38969c2ed25926d2dfc9

# NVIDIA Cosmos3-Nano via Hugging Face Inference API
HUGGINGFACE_TOKEN=hf_QAxMqtMaHkucbzGwtWQmrMeffbVQjJFV-GR